<div class=" container-fluid  mt-4 px-5 ">
    <div class="mx-5 py-5 d-flex justify-content-around ">
        <div>
            <img src="../../../assets/images/logo1.png" alt="">
        </div>
        <div>
            <img src="../../../assets/images/logo2.png" alt="">
        </div>
        <div class="d-none d-sm-block">
            <img src="../../../assets/images/logo3.png" alt="">
        </div>
        <div class="d-none d-md-block ">
            <img src="../../../assets/images/logo4.png" alt="">
        </div>
        <div class="d-none d-md-block ">
            <img src="../../../assets/images/logo6.png" alt="">
        </div>
    </div>  
</div> 


