.mybtn {
    /* margin: 0 8rem; */
    background-color: #fb4b3a;
    color: white;
    height: 50px;
}

.mybtn:hover {
    border: 2px solid #fb4b3a;
    background: white;
    color: black;
}
input:hover{
    outline: none;
}
input:focus{
    outline: none;

}
svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
}