<div class="d-flex">
    <nav class="navbar navbar-expand-xl">
        <!-- Navbar Toggler Button -->
        <button class="navbar-toggler border border-0 mycp" type="button" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Your navigation items -->
            @for(navbox of navlist.navnum; track navbox.id;) {
            <ul class="navbar-nav list-unstyled small" (mouseenter)="navbox.isSublistVisible = true"
                (mouseleave)="navbox.isSublistVisible = $event.stopPropagation()">
                <!-- Navigation items loop -->
                <li class="d-flex align-items-center align-content-center mycp ms-4 nav-item "
                    (click)="toggleSublist(navbox)" [class.active]="isSublistVisible">
                    <!-- <a class="nav-link" href="#" (click)="toggleSublist(navbox)">
                        {{ navbox.navtitle }}
                    </a> -->
                    {{navbox.navtitle}}
                    <fa-icon [icon]="downangle" class="ms-2"></fa-icon>
                    <!-- Subnav list -->
                    @if(navbox.isSublistVisible){
                    <ul class="subnav sublist px-4 list-unstyled" 
                        (mouseenter)="navbox.isSublistVisible = true"
                        (mouseleave)="navbox.isSublistVisible = $event.stopPropagation()">
                        <!-- <li *ngFor="let navitem of navbox.subnav" class="nav-item">
                            <a class="nav-link" href="#"> {{ navitem }} </a>
                        </li> -->
                        @for(navitems of navbox.subnav; track navitems.id;){
                            <li class="mycp ps-2 pe-5 nav-item"  [routerLink]="['/', navitems.toLowerCase()]">{{navitems}}</li>
                            }
                    </ul>
                    }
                </li>
            </ul>
            }
        </div>



        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @for(navbox of navlist.navnum; track navbox.id;) {
            <ul class="navbar-nav list-unstyled small" (mouseenter)="navbox.isSublistVisible = true"
                (mouseleave)="navbox.isSublistVisible = $event.stopPropagation()">
                <li class="d-flex align-items-center align-content-center mycp ms-4 nav-item "
                    (click)="toggleSublist(navbox)" [class.active]="isSublistVisible">
                  
                    {{navbox.navtitle}}
                    <fa-icon [icon]="downangle" class="ms-2"></fa-icon>
                    @if(navbox.isSublistVisible){
                    <ul class="subnav sublist px-4 list-unstyled" 
                        (mouseenter)="navbox.isSublistVisible = true"
                        (mouseleave)="navbox.isSublistVisible = $event.stopPropagation()">
                   
                        @for(navitems of navbox.subnav; track navitems.id;){
                            <li class="mycp ps-2 pe-5 nav-item">{{navitems}}</li>
                            }
                    </ul>
                    }
                </li>
            </ul>
            }
        </div> -->
    </nav>

    @if(isSidebarOpen){
    <!-- Right Sidebar -->
    <div class="rightsidebar" [ngClass]="{'active': isSidebarOpen}">
        <!-- Sidebar content goes here -->
        <div class="sidebar" [class.open]="isSidebarOpen">
            <div style="cursor: pointer;" (click)="toggleSidebar()">
                <p class="fs-6 ms-5 mt-3 fw-bold "> <fa-icon [icon]="arrow" class="me-3 fa-xl"></fa-icon> BACK </p>
            </div>
            <hr>
          
        </div>
        <ul class="list-unstyled">
            <!-- Sidebar items loop -->
            <li *ngFor="let navbox of navlist.navnum" class="nav-item">
                <a class="nav-link" href="#" (click)="toggleSublist(navbox)">
                    {{ navbox.navtitle }}
                </a>
                <!-- Subnav list -->
                <ul class="subnav list-unstyled" *ngIf="navbox.isSublistVisible">
                    <li *ngFor="let navitem of navbox.subnav" class="nav-item">
                        <a class="nav-link" href="#"  [routerLink]="['/', navitem.toLowerCase()]"> {{ navitem }} </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    }

 


    <div class="main-content d-none d-xl-block mt-2" >
        <ul class="list-unstyled d-flex mycp position-relative small mt-2" (mouseenter)="openChatBox()"
        >
            <li class="d-flex align-items-center align-content-center mycp ms-4">FEATURES
                <span class="badge bg-danger position-absolute rounded-0"
                    style="bottom:25px; left:30px; font-size: x-small;">New</span>
                <fa-icon [icon]="downangle" class="ms-2 "></fa-icon>
            </li>
        </ul>
    </div>
    <!-- Chatbox container -->

    <div class=" chatbox-container py-5" (mouseleave)="closeChatBox()">
        @if(isChatBoxOpen){
        <div class="d-flex chatbox-content">
            <ul class=" list-unstyled  px-4">
                <li class="mycp ps-2 pe-5 fw-bold ">Portfolio</li>
                <li class="mycp ps-2 pe-5 mt-2">Portfolio Grid 2</li>
                <li class="mycp ps-2 pe-5 mt-2">Portfolio Grid 3</li>
                <li class="mycp ps-2 pe-5 mt-2">Portfolio Grid 4</li>
                <li class="mycp ps-2 pe-5 mt-2">Memory Grid 2</li>
                <li class="mycp ps-2 pe-5 mt-2">Memory Grid 3</li>
                <li class="mycp ps-2 pe-5 mt-2">Memory Grid 4</li>
            </ul>
            <ul class=" list-unstyled  px-4">
                <li class="mycp ps-2 pe-5 fw-bold ">Add to Cart</li>
                <li class="mycp ps-2 pe-5 mt-2">Cart Right</li>
                <li class="mycp ps-2 pe-5 mt-2">Cart Left</li>
                <li class="mycp ps-2 pe-5 mt-2">Cart Top</li>
                <li class="mycp ps-2 pe-5 mt-2">Cart Bottom</li>
                <li class="mycp ps-2 pe-5 mt-2">Cart-Model-Popup</li>
            </ul>
            <ul class=" list-unstyled  px-4">
                <li class="mycp ps-2 pe-5 fw-bold ">Theme Elements</li>
                <li class="mycp ps-2 pe-5 mt-2">Title</li>
                <li class="mycp ps-2 pe-5 mt-2">Collection Banner</li>
                <li class="mycp ps-2 pe-5 mt-2">Home Slider</li>
                <li class="mycp ps-2 pe-5 mt-2">Category</li>
                <li class="mycp ps-2 pe-5 mt-2">Services</li>
            </ul>
            <ul class=" list-unstyled  px-4">
                <li class="mycp ps-2 pe-5 fw-bold ">Product Elements</li>
                <li class="mycp ps-2 pe-5 mt-2">Product Slider</li>
                <li class="mycp ps-2 pe-5 mt-2">Banners</li>
                <li class="mycp ps-2 pe-5 mt-2">Product Tabs</li>
                <li class="mycp ps-2 pe-5 mt-2">Multislider</li>
            </ul>
            <ul class=" list-unstyled  px-4">
                <li class="mycp ps-2 pe-5 fw-bold ">Email Templates</li>
                <li class="mycp ps-2 pe-5 mt-2">Order Success</li>
                <li class="mycp ps-2 pe-5 mt-2">Order Success 2</li>
                <li class="mycp ps-2 pe-5 mt-2">Email Template </li>
                <li class="mycp ps-2 pe-5 mt-2">Email Template 2</li>
            </ul>
        </div>
        }
    </div>
</div>