ul li:hover{
    background: none;
    color: #fb4b3a;
}

/* <!-- The other section of navbar home, shop, products, features, pages and blogs   --> */
/* Style for the sublist */

.sublist {
    position: absolute;
    top: 65%; 
    /* left: 50%; */
    z-index: 1000; /* Ensure it's on top of other content */
    background-color: #fff; /* Background color */
    padding: 10px;
    border: 1px solid ccc;
    padding-top: 30px;
    width: 300px;
    /* display: none; */
  }
 
  /* Style for the sublist items */
  .sublist li {
    list-style: none;
    padding: 5px 10px;
    color: black;
  }
  .sublist li:hover {
   color:#fb4b3a;
  }
  
 
  
 
  /* Ensure the sublist is displayed when active */
  .sublist.active {
    display: block;
  }
  
/* here is the feature nav bar css   */
/* Style for the chatbox container */
.chatbox-container {
  position: absolute;
  /* bottom: 20px;
  right: 20px; */
  /* width: 300px; */
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 999;
  top: 30%;
  left: 10%;
}


/* Style for the chatbox content */
.chatbox-content {
  width: full;
}
.chatbox-container .chatbox-content ul li:hover{
  color: #fb4b3a;
}

/* CSS responsive icon  */
.navbar-toggler-icon {
  position: absolute;
  top: 5px;
}

/* Right Sidebar  */
.rightsidebar {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100%;
  /* width: 130px; */
  background-color: #f8f9fa; 
  transition: right 0.3s ease; 
  z-index: 1000; 
}

.rightsidebar.active {
  right: 0;
}

@media (max-width: 1199px) {
  .rightsidebar {
      width: 250px; 
      right: -250px; 
  }
  li{
    padding-left: 40px;
    margin-top: 10px;
  }
}
