<section class="d-none d-sm-block allsec px-5">
    <div class="topheader d-flex justify-content-between  px-4 small text-muted align-items-center">
        <div class="d-none d-lg-block">
            <span>Welcome to Our store Multikart</span>&nbsp; <fa-icon [icon]="call"
                class="small mytext ms-3 me-2"></fa-icon><span>Call Us: 123 - 456 - 7890</span>
        </div>

        <div class="mt-3">
            <ul class="d-flex list-unstyled">
                <li class=""><fa-icon [icon]="compare" class="me-1 small"></fa-icon> Compare</li>
                <li class="ms-4"><fa-icon [icon]="heart" class="me-1 small"></fa-icon> Wishlist</li>
                <li class="ms-4"  id="myAccount"><fa-icon [icon]="user" class="me-1 small"></fa-icon> My Account
                    <div class="chatbox" id="chatbox"><a>Login</a> <br> <a>Logout</a></div></li>
            </ul>
        </div>
    </div>
</section>