<!-- Slider   -->
<div>
    <div id="carouselExampleAutoplaying" class="carousel slide w-100  h-100 " data-bs-ride="carousel">
        <div class="carousel-inner ">
            <div class="carousel-item active  w-100  h-100 position-relative ">
                <img src="assets/images/flower/flower1.jpg" class="d-block w-100" alt="...">
                <div class="resslider position-absolute text-start text-sm-center ">
                    <p class=" small fs-6 text-muted fw-bolder " style="letter-spacing: 6px;">Save upto 20%</p>
                    <h1 class=" display-4 text-black  fw-bold">CREATIVE & DECOR</h1>
                    <button type="button" class="mybtn btn rounded-0 mt-2  px-3 py-2">SHOP NOW</button>
                </div>
            </div>
            <div class="carousel-item ">
                <img src="assets/images/flower/flower2.jpg" class="d-block w-100" alt="...">
                <div class="resslider position-absolute text-start text-sm-center ">
                    <p class=" small fs-6 text-muted fw-bolder " style="letter-spacing: 6px;">Save upto 20%</p>
                    <h1 class=" display-4 text-black  fw-bold">PRE-MADE & CUSTOM</h1>
                    <button type="button" class="mybtn btn rounded-0 mt-2  px-3 py-2">SHOP NOW</button>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- Two Images   -->
<div class="container  px-5 mt-5">
    <div class="d-flex flex-column flex-sm-row gap-4 twoimages">
        <div class="col-md-4 mycp">
            <img src="assets/images/flower/flower3.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 mycp position-relative">
            <img src="assets/images/flower/flower4.jpg" class="img-fluid" alt="">
            <div class="position-absolute" style="top: 40%;right: 10%;">
                <p class="text-end fw-bold fs-5" style="color: #FA869B;">SAVE 30%</p>
                <h1 class="display-5 fw-bold" style="margin-top: -20px;">HOT DEAL</h1>
            </div>

        </div>
    </div>
</div>

<!-- Special Product  / Best Selling Product Flower  -->
<div class="mt-4  mt-md-5">
    <div class="cusdiv d-flex flex-column align-items-center ">
        <h1 class="fs-2 fw-bold ">BEST SEL<span style="border-bottom: 2px solid #FA869B">LING PROD</span>UCTS</h1>
    </div>
</div>

<div class="mt-md-5 px-5 ">
    <div class="d-flex flex-column flex-sm-row specialproducts">
        <div class="col-md-4  ">
            <div class="d-flex  align-items-center ">
                <img src="../../../assets/images/flower/flower5.jpg " class="img-fluid border-0   w-75   mycp" alt="">
                <div class="mx-2  text-center d-block d-sm-none d-md-block">
                    <div class="d-flex justify-content-center ">
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                    </div>
                    <p class="fs-6 text-muted mycp ">Dreamy Love</p>
                    <div class="" style="margin-top: -20px;">
                        <span class="fs-5 fw-bold">$159.00 </span>
                    </div>
                </div>

            </div>

            <div class="d-flex align-items-center  ">
                <img src="../../../assets/images/flower/flower6.jpg" class="img-fluid  mycp w-75" alt="">
                <div class="mx-2  text-center d-block d-sm-none d-md-block">
                    <div class="d-flex justify-content-center ">
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                    </div>
                    <p class="fs-6 text-muted mycp ">Perky Blooms</p>
                    <div class="" style="margin-top: -20px;">
                        <span class="fs-5 fw-bold">$49.00 </span>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-4  text-center midpic ">
            <img src="../../../assets/images/flower/flower7.jpg" class="img-fluid w-75 mycp midpic" alt="">
            <div class="d-flex gap-3 justify-content-center align-content-center rounded-5  position-absolute myicons bg-white px-3"
                style=" margin-left: 130px; margin-top: -50px; box-shadow: 0 0 12px 0 #dddddd;">
                <fa-icon [icon]="cart" class="mt-3 mycp myfaicon"></fa-icon>
                <fa-icon [icon]="heart" class="mt-3 mycp  myfaicon"></fa-icon>
                <fa-icon [icon]="search" class="mt-3 mycp myfaicon"></fa-icon>
                <fa-icon [icon]="compare" class="mt-3 mycp myfaicon"></fa-icon>
            </div>
            <div class="mx-2  text-center mt-4 ">
                <div class="d-flex justify-content-center ">
                    <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                    <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                    <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                    <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                    <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                </div>
                <p class="fs-6 text-muted mycp ">Orchid N Roses</p>
                <div class="" style="margin-top: -20px;">
                    <span class="fs-5 fw-bold">$95.00 </span>&nbsp; <span class="small text-muted">$105.00</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex align-items-center">
                <img src="../../../assets/images/flower/flower8.jpg" class="img-fluid mycp  w-75" alt="">
                <div class="mx-2  text-center d-block d-sm-none d-md-block">
                    <div class="d-flex justify-content-center ">
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                    </div>
                    <p class="fs-6 text-muted mycp ">Divine Love</p>
                    <div class="" style="margin-top: -20px;">
                        <span class="fs-5 fw-bold">$52.00 </span>
                    </div>
                </div>

            </div>
            <div class="d-flex align-items-center">
                <img src="../../../assets/images/flower/flower9.jpg" class="img-fluid  mycp  w-75" alt="">
                <div class="mx-2  text-center d-block d-sm-none d-md-block">
                    <div class="d-flex justify-content-center ">
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                        <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                    </div>
                    <p class="fs-6 text-muted mycp ">Charismatic Elanor</p>
                    <div class="" style="margin-top: -20px;">
                        <span class="fs-5 fw-bold">$42.75 </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Trending Products / Trending Items   -->
<div class="mt-5">
    <div class="cusdiv d-flex flex-column align-items-center">
        <h1 class="fs-2 fw-bold ">TREN<span class=" border-bottom border-2 border-danger">DING PR</span>ODUCT</h1>
    </div>
</div>
<div class="container-fluid  d-flex justify-content-evenly   border-1 px-5 my-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  row-cols-lg-4">
        @for(item of trendingitemflower; track item.id;){
        <div class="d-flex flex-column ">
            <div class="container1 mx-2 mycp position-relative maindiv" style="background-color: #F8F8F8;">
                <div class="rounded-5 bg-danger d-flex  align-content-center align-items-center  position-absolute ms-2"
                    style="width: 38px; height: 38px; top:15px">
                    <small class="small text-white fw-bold ms-1">NEW</small>
                </div>
                <div class="image-container">
                    <img src="{{item.mainimg}}" alt="Image 1" class="main-image">
                </div>
                <div class="d-flex gap-3 justify-content-center align-content-center rounded-5  position-absolute myicons bg-white px-3"
                    style="bottom: 45px; right:40px; box-shadow: 0 0 12px 0 #dddddd;">
                    <fa-icon [icon]="cart" class="mt-3  myfaicon"></fa-icon>
                    <fa-icon [icon]="heart" class="mt-3  myfaicon"></fa-icon>
                    <fa-icon [icon]="search" class="mt-3  myfaicon"></fa-icon>
                    <fa-icon [icon]="compare" class="mt-3  myfaicon"></fa-icon>
                </div>
            </div>
            <div class="mx-2  text-center ">
                <div class="d-flex justify-content-center ">
                    <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                    <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                    <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                    <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                    <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                </div>
                <p class="fs-6 text-muted mycp ">{{item.name}}</p>
                <div class="" style="margin-top: -20px;">
                    <span class="fs-5 fw-bold">{{item.newprice}} </span>&nbsp; <span
                        class="small text-muted">{{item.oldprice}}</span>
                </div>
            </div>
        </div>
        }
    </div>
</div>


<!-- Flower Blogs  -->
<div class="bgimg flowerblogs">
    <div class="mt-4 mt-sm-4 mt-md-5">
        <div class="cusdiv d-flex flex-column align-items-center">
            <p class=" fs-5" style="color: #FA869B;">Recent Story</p>
            <h1 class="fs-2 fw-bold " style="margin-top: -10px;">FROM<span
                    class=" border-bottom border-2 border-danger">
                    THE</span> BLOG</h1>
        </div>
    </div>

    <div class="container-fluid   mt-4">
        <div class="d-flex  flex-wrap px-5" style="width: 100%; margin: auto;">
            @for(item of flowerblog; track item){
            <div class="col-sm-6 col-md-4">
                <div class="mycp">
                    <img src={{item.img}} alt="" width="90%">
                </div>
                <div class="text-center mt-3">
                    <p class=" fw-bold mycp" style="color: #FA869B;">{{item.date}}</p>
                    <p class=" fw-bold mycp " style="margin-top: -10px;">LOREM IPSUM DOLOR SIT <br> CONSECTETUER
                        ADISPIDING
                        ELIT
                    </p>
                    <hr style="width: 20%;margin: auto;">

                    <p class="text-muted">by: John Dio, 2 Comment</p>
                </div>
            </div>
            }
        </div>
    </div>
</div>

<!-- app-delivery  -->
<div class="mt-4">
    <app-delivery></app-delivery>
</div>