<div class="mt-1 mt-sm-1 mt-md-5">
    <div class="cusdiv d-flex flex-column align-items-center">
        <p class="mytext fs-5">Exclusive Products</p>
        <h1 class="fs-2 fw-bold ">SPECIAL <span class=" border-bottom border-2 border-danger">PR</span>ODUCT</h1>
    </div>
</div>
<div class="d-flex  justify-content-center mt-3">
    <ul class="d-flex gap-5 list-unstyled fs-6">
        <div class="d-flex flex-column flex-md-row gap-1 gap-md-5">
            <li class="mycp fw-bold " routerLink="./newproducts" routerLinkActive="active">NEW PRODUCTS</li>
            <li class="mycp fw-bold " routerLink="bestseller" routerLinkActive="active">BEST SELLERS</li>
        </div>
        <div class="d-flex flex-column flex-md-row gap-1 gap-md-5">
            <li class="mycp fw-bold " routerLink="featuredproducts" routerLinkActive="active">FEATURED PRODUCTS</li>
            <li class="mycp fw-bold " routerLink="onsale" routerLinkActive="active">ON SALE</li>
        </div>
    </ul>
</div>
<!-- <app-exproduct></app-exproduct> -->

<router-outlet></router-outlet>