/* Slider   */

.mybtn {
    background-color:#FF4C3B;
    color: white;
}

.mybtn:hover {
    border: 2px solid#FF4C3B;
    background: white;
    color: black;
}

.resslider {
    top: 30%;
    left: 10%;
}

.imgtxt {
    position: absolute;
    top: 35%;
    left: 62%;
}

.imgtxt2 {
    position: absolute;
    top: 35%;
    left: 48%;
}

.resdiv {
    width: 45%;
}

.resdiv:hover {
    background-color: #f0f0f0;
    padding: 2px;
    margin: 2px;
    transition: transform 0.5s ease-in-out;
}

.resdiv:hover {
    transform: scale(1);
}

.imgtxt h1 {
    margin-top: -20px;
}

@media screen and (max-width:600px) {
    .resslider {
        top: 5%;
        left: 2%;
    }

    .resslider h1 {
        /* margin-left: 20%; */
        font-size: 1.4rem;
    }
}

@media screen and (max-width:575px) {
    .resdiv {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }

    .resdiv img {
        height: 170px;
    }

    .imgtxt {
        position: absolute;
        top: 25%;
        left: 62%;
    }

    .imgtxt2 {
        position: absolute;
        top: 25%;
        left: 48%;
    }
}

@media screen and (max-width:400px) {
    .resslider {
        top: 2%;
        left: 1%;
    }

    .resslider h1 {
        /* margin-left: 20%; */
        font-size: 1.1rem;
    }

    .mybtn {
        font-size: smaller;
        width: 120px;
    }

    .resdiv {
        width: 95%;
        /* margin: auto; */
        margin-top: 20px;
    }
}

/* Tool store  */
/* <!-- View More and watches  --> */

.watchbtn{
    border: 2px solid #E4604A;
    background: white;
}
.watchbtn:hover {
    border: 2px solid#E4604A;
    background: #E4604A;
    color: white;
}
.mywatchdiv{
    border: 1px solid rgb(225, 217, 217) ;
}
.mywatchdiv:hover{
    border: 2px solid #E4604A;
}
.mywatchdiv .mycp{
    line-height: 10px;
    opacity: 0.7;
}
.mywatchdiv .mycp:hover{
    color:  #E4604A;
}

/* tRENDIND AND POPULAR PRODUCTS  */
/* Trending Products  */
.cusdiv h1 {
    margin-top: -15px;
    letter-spacing: 1px;
  }
  
  .cusdiv .myp {
    width: 39%;
  }
  
  /* Three Images div  */

  .image-container {
    display: flex;
    align-items: center;
    /* position: relative; */
    height: 100%;
  }
  
  .main-image {
    flex: 1;
    /* max-width: 240px; */
    width: 21%;
    transition: transform 0.3s ease;
  }
  

  /* icons on div  */
  .myfaicon {
    color: grey;
    display: none;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .myfaicon:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .myfaicon:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .myfaicon:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .myfaicon:nth-child(4) {
    animation-delay: 0.2s;
  }
  
  .myfaicon:hover {
    color: #fb4b3a;
  
  }
  
  .maindiv:hover .myfaicon {
    display: block;
  }
  
.popdiv{
    box-shadow: 0 0 12px 0 #dddddd;
}
.popdiv:hover{
    opacity: 0.4;
}

/* Background Image and 3 div  */

.main-div{
    position: relative;
    width: 100%;
    height: 100vh;
}
.bgimg{
    background-image: url("../../../assets/images/tool/tool15.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
/* .maintext{
     position: absolute;
     top: 100px;
     left: 30px;
}  */

@media screen and (max-width: 700px){
    .bgimg{
        height: 100%;
    }
 
}
@media screen and (max-width: 500px){
    .bgimg{
        height: 100%;
    }
 
}