<div>
    <div class="cusdiv d-flex flex-column align-items-center">
        <p class="mytext fs-5">Special Offer</p>
        <h1 class="fs-2 fw-bold ">TOP C<span class=" border-bottom border-2 border-danger">OLLE</span>CTION</h1>
        <p class="myp text-muted small text-center mt-2">Lorem Ipsum is simply dummy text of the printing and
            typesetting industry, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>
</div>
<div class="container-fluid  d-flex justify-content-evenly   border-1 px-5 my-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  row-cols-lg-4">
        @for(item of list; track item.id;){
        <div class="d-flex flex-column ">
            <div class="container1 mx-2 mycp position-relative maindiv" style="background-color: #F8F8F8;">
                <div class="rounded-5 bg-danger d-flex  align-content-center align-items-center  position-absolute ms-2"
                    style="width: 38px; height: 38px; top:15px">
                    <small class="small text-white fw-bold ms-1">NEW</small>
                </div>
                <div class="image-container">
                    <div class="d-flex flex-column" style="margin-top: 90px">
                        @for(img of item.secondaryimg;track img){
                        <img src="{{img}}" alt="secondary Images" class="secondary-image"
                            (mouseover)="swapMainImage(item, img)">
                        }
                    </div>
                    <img src="{{item.mainimg}}" style="margin-left: -60px;" alt="Image 1" class="main-image">
                </div>
                <div class="d-flex flex-column position-absolute myicons" style="bottom: 30px; right:10px">

                    <fa-icon [icon]="cart" class="mt-3  myfaicon" (click)="addToCart(item)"></fa-icon>
                    <fa-icon [icon]="heart" class="mt-3  myfaicon" (click)="showAlert()"></fa-icon>
                    <fa-icon [icon]="search" class="mt-3  myfaicon"></fa-icon>
                    <fa-icon [icon]="compare" class="mt-3  myfaicon"  (click)="addToCompare(item)"></fa-icon>
                </div>
            </div>
            <div class="mx-2">
                <div class="d-flex">
                    <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                    <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                    <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                    <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                    <fa-icon [icon]="star" class="text-warning small"></fa-icon>
                </div>
                <p class="fs-6 text-muted mycp">{{item.dress}}</p>
                <div class="" style="margin-top: -20px;">
                    <span class="fs-5 fw-bold">{{item.newprice}} </span>&nbsp; <span
                        class="small text-muted">{{item.oldprice}}</span>
                </div>
                <!-- <ul class="list-unstyled d-flex">
                    <li class="border border-1 rounded-5 bg-warning mycp " style="width: 20px; height:20px"></li>
                    <li class="border border-1 rounded-5 ms-2 mycp" style="width: 20px; height:20px"></li>
                    <li class="border border-1 rounded-5 ms-2 mycp" style="width: 20px; height:20px; background-color: #FFC0CB;">
                    </li>
                </ul> -->
            </div>
        </div>
        }
    </div>
</div>