<section class=" d-flex align-items-center  align-content-center" style=" height: 106px">
    <div class="mx-md-0  mx-lg-5 d-flex justify-content-around  w-100 ">
        <div class="ms-1  ms-sm-4">
            <fa-icon [icon]="bar" class="fa-xl mycp mt-2" (click)="toggleSidebar()"></fa-icon>
            <div class="sidebar" [class.open]="isSidebarOpen">
                <div style="cursor: pointer;" (click)="toggleSidebar()">
                    <p class="fs-6 ms-5 mt-3 fw-bold "> <fa-icon [icon]="arrow" class="me-3 fa-xl"></fa-icon> BACK </p>
                </div>
                <hr>
                <!-- Sidebar Shows on Click  -->
                <app-sidebar></app-sidebar>
            </div>
            <img src="assets/images/logo.png" routerLink="dashboard" alt="" class="ms-4 ms-lg-5 mt-2 mycp">
               <!-- <p class="ms-4 ms-lg-5 mt-2 mycp fs-1">ClothKart</p> -->
        </div>

        <!-- this is subnav component -->
        <app-subnav></app-subnav>

        <!-- Last three icons  -->
        <div class=" mt-2">
            <ul class="list-unstyled d-flex">
                <li class=" d-none d-sm-block"> <fa-icon [icon]="search" class="fa-xl text-secondary mycp"></fa-icon> </li>
                <li class="ms-3 d-none d-sm-block " (mouseenter)="openChatBox()"> <fa-icon [icon]="gear"
                        class="fa-xl text-secondary mycp"></fa-icon>
                </li>
                @if(isChatBoxOpen){
                <div class="gearchatbox-container ps-3" (mouseleave)="closeChatBox()">
                    <!-- Chatbox content -->
                    <div class="gearchatbox-content">
                        <ul class="list-unstyled ">
                            <li class="fs-6 fw-bold">Language</li>
                            <li class="text-muted ms-2 mycp">English</li>
                            <li class="text-muted ms-2 mycp">Urdu</li>
                        </ul>
                        <ul class="list-unstyled mt-3">
                            <li class="fs-6 fw-bold">Currency</li>
                            <li class="text-muted ms-2 mycp">Euro</li>
                            <li class="text-muted ms-2 mycp">Rupees</li>
                            <li class="text-muted ms-2 mycp">Pound</li>
                            <li class="text-muted ms-2 mycp">Dollars</li>
                        </ul>
                    </div>
                </div>
                }
                <li class="ms-3 position-relative" (mouseenter)="showCartBox = true" (mouseleave)="showCartBox = false" routerLink="addcart">
                    <fa-icon [icon]="cart" class="fa-xl text-secondary mycp"></fa-icon>
                    <span class="badge bg-danger position-absolute rounded-5" style="bottom: 25px; left: 10px; ">{{
                        cartItemCount$ | async }}</span>
                </li>
                @if(showCartBox){
                <div class="container" >
                    <div class="cart-box">
                        <p *ngIf="(cartItemCount$ | async) === 0">The cart is empty</p>
                        <div class="d-flex mt-3  " *ngFor="let item of cartItems$ | async">
                            <img [src]="item.mainimg" style="width: 50px;" alt="Product Image">
                            <div class="d-flex flex-column  ">
                                <p>{{ item.dress }}{{item.name}}</p>
                                <p style="margin-top: -15px;">{{ item.newprice }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </ul>
        </div>

    </div>
</section>