/* Slider   */

.mybtn {
    background-color: #D4B196;
    color: white;
}

.mybtn:hover {
    border: 2px solid#D4B196;
    background: white;
    color: black;
}

.resslider {
    top: 30%;
    left: 10%;
}

.imgtxt {
    position: absolute;
    top: 35%;
    left: 62%;
}

.imgtxt2 {
    position: absolute;
    top: 35%;
    left: 48%;
}

.resdiv {
    width: 45%;
}

.resdiv:hover{
    background-color: #f0f0f0;
  padding: 2px;
  margin: 2px;
  transition: transform 0.5s ease-in-out;
}
.resdiv:hover {
    transform: scale(1);
  }

.imgtxt h1 {
    margin-top: -20px;
}

@media screen and (max-width:600px) {
    .resslider {
        top: 5%;
        left: 2%;
    }

     .resslider h1 {
        /* margin-left: 20%; */
        font-size: 1.4rem;
    } 
}

@media screen and (max-width:575px) {
    .resdiv {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }

    .resdiv img {
        height: 170px;
    }

    .imgtxt {
        position: absolute;
        top: 25%;
        left: 62%;
    }

    .imgtxt2 {
        position: absolute;
        top: 25%;
        left: 48%;
    }
}

@media screen and (max-width:400px) {
    .resslider {
        top: 2%;
        left: 1%;
    }

    .resslider h1 {
        /* margin-left: 20%; */
        font-size: 1.1rem;
    }

    .mybtn {
        font-size: smaller;
        width: 120px;
    }
    .resdiv {
        width: 95%;
        /* margin: auto; */
        margin-top: 20px;
    }
 
}

/* three images  */
.threeimages2 img:hover{
    transform: scale(1.01);
}